site_name: My Docs
site_url: https://sitename.example
theme:
  name: material
  font:
    text: Merriweather Sans
    code: Red Hat Mono
  palette:
  # Dark Mode
    - scheme: slate
      toggle: 
        icon: material/weather-sunny
        name: Dark mode
      primary: green
      accent: deep purple


      #Light Mode
    - scheme: default
      toggle: 
        icon: material/weather-sunny
        name: Light mode
      primary: blue
      accent: deep orange


markdown_extensions: 
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.fence_code_format 
      emoji_generator: !!python/name/material.extensions.
       